---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
---

<html lang='en'>

<head>
  <MainHead title="Thinh Nguyen: External links"
    description="This are the external links that connected to my profile!" />
  <style lang="scss">
    $w-s: 750px;

    .pfp {
      border-radius: 100%;
      height: 256px;
      width: 256px;
    }

    .grid {
      display: grid;
      grid-gap: 2rem;

      @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr;
      }
    }

    .sectionTitle {
      font-family: Comfortaa;
      font-weight: 700;
      font-size: var(--f-u5);
      color: var(--c-black);
      margin-left: 1rem;
    }

    .img-icon {
      height: 2rem;
      width: 2rem;
    }

    .section {
      background-color: var(--c-light-white);
      padding: 1rem 4rem;
      border-radius: 1rem;
      box-shadow: 1rem;
      position: relative;
      display: inline-block;
      font-weight: 900;
      z-index: 2;

      @media (min-width: $w-s) {
        font-size: var(--f-u2);
      }

      +.role {
        margin-left: 1em;
      }

      &:nth-of-type(1) {
        .invert {
          background-color: var(--c-pink);
        }
      }

      &:nth-of-type(2) {
        .invert {
          background-color: var(--c-blue);
        }
      }

      &:nth-of-type(3) {
        .invert {
          background-color: var(--c-green);
        }
      }
      &:nth-of-type(4) {
        .invert {
          background-color: var(--c-blue);
        }
      }
      &:nth-of-type(5) {
        .invert {
          background-color: var(--c-pink);
        }
      }
      &:nth-of-type(6) {
        .invert {
          background-color: var(--c-green);
        }
      }

      &:hover {
        .invert {
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
      }
    }

    .invert {
      border-radius: 1rem;
      box-shadow: 1rem;
      position: absolute;
      color: var(--t-fg);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);
      transition: clip-path cubic-bezier(0.4, 0, 0.5, 1) 500ms;
    }

    .invert .sectionTitle {
      font-size: var(--f-u3);
      font-weight: 900;
    }

    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <Nav />
  <header class="c-flex wrapper mt4 mb4 tac">
    <div>
      <div class="c-flex">
        <img alt="Profile picture" class="pfp" src={import.meta.env.CDN+'pfp/pfp-min.webp'}>
      </div>
      <h1>
        Thinh Nguyen
      </h1>
      <h3>
        Love to code and play video games.
      </h3>
    </div>
  </header>
  <section class="c-flex wrapper tal">
    <div class="grid">
      <div class="r-flex section">
        <img class="img-icon" src={import.meta.env.CDN+'link/email.svg'} alt="Email icon" />
        <a href="https://vsco.co/txzje" class="sectionTitle">Email</a>
        <div class="invert">
          <img class="img-icon" src={import.meta.env.CDN+'link/email.svg'} alt="Email icon" />
          <a href="mailto:thinh@thinh.tech" class="sectionTitle">thinh@thinh.tech</a>
        </div>
      </div>
      <div class="r-flex section">
        <img class="img-icon" src={import.meta.env.CDN+'link/instagram.svg'} alt="Instagram icon" />
        <a href="https://instagram.com/txzje" class="sectionTitle">Instagram</a>
        <div class="invert">
          <img class="img-icon" src={import.meta.env.CDN+'link/instagram.svg'} alt="Instagram icon" />
          <a href="https://instagram.com/txzje" class="sectionTitle">txzje</a>
        </div>
      </div>
      <div class="r-flex section">
        <img class="img-icon" src={import.meta.env.CDN+'link/facebook.svg'} alt="Facebook icon" />
        <a href="https://facebook.com/cat9289" class="sectionTitle">Facebook</a>
        <div class="invert">
          <img class="img-icon" src={import.meta.env.CDN+'link/facebook.svg'} alt="Facebook icon" />
        <a href="https://facebook.com/cat9289" class="sectionTitle">cat9289</a>
        </div>
      </div>
      <div class="r-flex section">
        <img class="img-icon" src={import.meta.env.CDN+'link/github.svg'} alt="Github icon" />
        <a href="https://github.com/CutieCat6778" class="sectionTitle">Github</a>
        <div class="invert">
          <img class="img-icon" src={import.meta.env.CDN+'link/github.svg'} alt="Github icon" />
          <a href="https://github.com/CutieCat6778" class="sectionTitle">CutieCat6778</a>
        </div>
      </div>
      <div class="r-flex section">
        <img class="img-icon" src={import.meta.env.CDN+'link/snapchat.svg'} alt="Snapchat icon" />
        <a href="https://snapchat.com/add/txzjee" class="sectionTitle">Snapchat</a>
        <div class="invert">
          <img class="img-icon" src={import.meta.env.CDN+'link/snapchat.svg'} alt="Snapchat icon" />
        <a href="https://snapchat.com/add/txzjee" class="sectionTitle">txzjee</a>
        </div>
      </div>
      <div class="r-flex section">
        <img class="img-icon" src={import.meta.env.CDN+'link/vsco.svg'} alt="Vsco icon" />
        <a href="https://vsco.co/txzje" class="sectionTitle">Vsco</a>
        <div class="invert">
          <img class="img-icon" src={import.meta.env.CDN+'link/vsco.svg'} alt="Vsco icon" />
        <a href="https://vsco.co/txzje" class="sectionTitle">txzje</a>
        </div>
      </div>
    </div>
  </section>
  <Footer />
</body>

</html>