---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
---

<html lang='en'>

<head>
  <MainHead title="Thinh Nguyen: External links"
    description="This are the external links that connected to my profile!" />
  <style>
    .pfp {
      border-radius: 100%;
      height: 256px;
      width: 256px;
    }

    .grid {
      display: grid;
      grid-gap: 2rem;

      @media (min-width: 1200px) {
        grid-template-columns: 2fr 1fr;
      }
    }

    .sectionTitle {
      font-family: Comfortaa;
      font-weight: 700;
      font-size: var(--f-u5);
      color: var(--c-black);
      margin-left: 1rem;
    }

    .img-icon {
      height: 2rem;
      width: 2rem;
    }

    .section {
      background-color: var(--c-light-white);
      padding: 1rem 4rem;
      border-radius: 1rem;
      box-shadow: 1rem;
    }

    a {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <Nav />
  <header class="c-flex wrapper mt4 mb4 tac">
    <div>
      <div class="c-flex">
        <img alt="Profile picture" class="pfp" src={import.meta.env.CDN+'pfp/pfp-min.webp'}>
      </div>
      <h1>
        Thinh Nguyen
      </h1>
      <h3>
        Love to code and play video games.
      </h3>
    </div>
  </header>
  <section class="c-flex wrapper tal">
    <div class="grid">
      <div class="r-flex section">
        <img class="img-icon" src={import.meta.env.CDN+'link/instagram.svg'} alt="Instagram logo"/>
        <a href="https://instagram.com/txzje" class="sectionTitle">Instagram</a>
      </div>
      <div class="r-flex section">
          <img class="img-icon" src={import.meta.env.CDN+'link/facebook.svg'} alt="Facebook logo"/>
          <a href="https://facebook.com/cat9289" class="sectionTitle">Facebook</a>
      </div>
      <div class="r-flex section">
        <img class="img-icon" src={import.meta.env.CDN+'link/github.svg'} alt="Github logo"/>
        <a href="https://github.com/CutieCat6778" class="sectionTitle">Github</a>
      </div>
      <div class="r-flex section">
        <img class="img-icon" src={import.meta.env.CDN+'link/snapchat.svg'} alt="Snapchat logo"/>
        <a href="https://snapchat.com/add/txzjee" class="sectionTitle">Snapchat</a>
      </div>
      <div class="r-flex section">
        <img class="img-icon" src={import.meta.env.CDN+'link/vsco.svg'} alt="Vsco logo"/>
        <a href="https://vsco.co/txzje" class="sectionTitle">Vsco</a>
      </div>
    </div>
  </section>
  <Footer />
</body>

</html>