@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  width: 100%;
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: var(--font-bitter);
}

@layer base {
  .placeholder {
    @apply h-screen opacity-0;
  }

  .d-bg {
    @apply bg-[#fff];
  }

  .d-text {
    @apply text-[#000];
  }

  button {
    @apply px-4 py-1 rounded-md;
  }
}
